@model CommonItemVM

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Common Item</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="CommonItem.SellerId" hidden />
            <input asp-for="CommonItem.Id" hidden />
            <input asp-for="CommonItem.Status" hidden />
            <div class="p-3">

                <!-- General Info Section -->
                <h5 class="mb-3">General Info</h5>
                <hr>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.Title" class="form-control border shadow" />
                    <label asp-for="CommonItem.Title" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.Description" class="form-control border shadow" />
                    <label asp-for="CommonItem.Description" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Description" class="text-danger"></span>
                </div>

                <!-- SubCategory and Name -->
                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.CommonItem.Type" asp-items="@Model.Categories"
                            class="form-select border shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="CommonItem.Type" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Type" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.Name" class="form-control border shadow" />
                    <label asp-for="CommonItem.Name" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Name" class="text-danger"></span>
                </div>              
                <hr>
                <!-- Detail Section -->
                <h5 class="mb-3">Details</h5>
                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.CommonItem.Condition" asp-items="@Model.Conditions"
                            class="form-select border shadow">
                        <option disabled selected>--Select Condition--</option>
                    </select>
                    <label asp-for="CommonItem.Condition" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Condition" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.Price" class="form-control border shadow" />
                    <label asp-for="CommonItem.Price" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Price" class="text-danger"></span>
                </div>

                <!-- Image Upload -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.Image" class="form-control border shadow" type="file" />
                    <label asp-for="CommonItem.Image" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.Image" class="text-danger"></span>
                </div>

                <!-- Address Section -->
                <hr>
                <h5 class="mb-3">Address</h5>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.AddressLine1" class="form-control border shadow" />
                    <label asp-for="CommonItem.AddressLine1" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.AddressLine1" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.AddressLine2" class="form-control border shadow" />
                    <label asp-for="CommonItem.AddressLine2" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.AddressLine2" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.City" class="form-control border shadow" />
                    <label asp-for="CommonItem.City" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.City" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.State" class="form-control border shadow" />
                    <label asp-for="CommonItem.State" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.State" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="CommonItem.ZipCode" class="form-control border shadow" />
                    <label asp-for="CommonItem.ZipCode" class="ms-2"></label>
                    <span asp-validation-for="CommonItem.ZipCode" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Item" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
